.page-wrapper {
  min-height: var(--page-height);
}

.cover {
  /* border: 2px solid orange; */
  width: 100%;
  height: 25rem;
  /* background-image: url(/src/assets/static/Spin-1.8s-143px.svg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 3px dotted darkorange;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.edit-cover {
  height: 3rem;
  min-width: 10rem;
  position: relative;
  bottom: 1rem;
  right: 1rem;

  display: flex;
  border-radius: 5%;
  padding: 0.25rem;
  background-color: pink;
  border: 1px solid hotpink;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-bottom: 2rem;
}

/* the 90% width horizontal line */
.profile-details:after {
  content: '';
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  left: 5%;
  height: 0.05rem;
  width: 90%;
}

.profile-photo-wrapper {
  /* border: 2px solid purple; */
  position: relative;
  bottom: 3rem;
  left: 3rem;
  width: 10rem;
  height: 10rem;
  /* min-width: 10rem; */
  /* min-height: 10rem; */
  display: flex;
  align-items: baseline;
}

.profile-photo {
  border-radius: 50%;
  /* max-height: 100%; */
  /* max-width: 100%; */
  height: 100%;
  width: 100%;
  object-fit: contain;
  /* height: auto; */
  border: 2px solid white;
}

.change-photo {
  position: relative;
  display: flex;
  min-width: 2rem;
  right: 2.5rem;
  bottom: 0.5rem;
  border-radius: 50%;
  padding: 0.25rem;

  background-color: pink;
  border: 1px solid hotpink;
}

.user-data {
  border: 1px solid maroon;
  background-color: royalblue;
  /* margin: 0 2rem; */
  margin-left: 3rem;
  padding: 0 1rem;
}

.edit-button {
  height: 4rem;
}
