@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  -webkit-appearance: none;
}

body {
  margin: 0;

  --navy-blue: #05445e;
  --blue-grotto: #189ab4;
  --blue-green: rgb(117, 230, 218);
  --baby-blue: rgb(212, 241, 244);
  --hot-pink: #ff69b4;
  --pink: #ffc0cb;

  --header-height: 4rem;
  --page-height: calc(100vh - (2 * var(--header-height)) + 5rem);
  background: linear-gradient(to right, var(--navy-blue), var(--blue-grotto));

  /* display: flex; */
  color: var(--baby-blue);
}

body a {
  /* otherwise overwritten by webkit */
  color: var(--baby-blue);
}

.container {
  /* padding: 0 3rem;  */
  max-width: 65rem;
  margin: auto;
}

#overlay-root {
  /* align-self: center; */
  /* margin: 0 auto; */
}

button {
  font: inherit;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  font-weight: 600;
  background-color: var(--pink);
  border: 1px solid var(--hot-pink);
  cursor: pointer;
  white-space: nowrap;
}

button:hover {
  background: var(--main-purple);
  color: var(--main-pink);
}

ul {
  list-style: none;
  margin: 0;
}
