
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--baby-blue); */
}

.card p {
  color: var(--navy-blue);
  font-size: 0.75rem;
  margin: 2rem auto 0;
}

.card span {
  color: var(--blue-grotto);
  font-size: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
  
}

.card p:last-of-type {
  color: red;
}

.card button {
  margin: 0 auto;
}

.card button:disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

/* ---------------------------------- MEDIA QUERIES (MEDIUM DEVICES) -------------------- */

@media screen and (max-width: 1024px) {
  
}

/* ---------------------------------- MEDIA QUERIES (SMALL DEVICES) -------------------- */

@media screen and (max-width: 600px) {
  
}